/************
variables
************/
:root {
  --our-green: #4ADEB5;
  --our-lightgreen: #DBF8F0;
  --our-brown: #DE6B4A;
  --our-pink: #DE4ABD;
  --our-lightpink: #df9ed1;
  --our-darkblue: #151875;
  --our-lightblue: #acc0d6;
  --our-gray: #333333;
  --our-lightgray: #eeeeee;
  --our-footer: #0B0D17;
}

/************
fonts
************/
/************
General Styles
************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: ltr;
  text-align: left;
  font-family: sans-serif;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
a,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-family: sans-serif;
}

p {
  line-height: 1.6;
  text-align: justify;
}

a:hover {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/************
General Classes
************/
button:focus {
  outline: unset;
}

.our-btn {
  padding: .375em 1.8em;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-btn-inline {
  background-color: var(--our-green);
  border: 2px solid var(--our-green);
  color: #000;
  border-radius: 4px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.our-btn-inline:hover {
  background-color: transparent;
  border: 2px solid var(--our-green);
  color: var(--our-gray);
}

.our-btn-inline-2 {
  background-color: var(--our-gray);
  border: 2px solid var(--our-gray);
  color: var(--our-green);
  border-radius: 4px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.our-btn-inline-2:hover {
  background-color: var(--our-green);
  border: 2px solid var(--our-green);
  color: var(--our-gray);
}

.card {
  border: 0;
  background: none;
  border-radius: unset;
}

.card-footer {
  background-color: unset;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.scrolledDown {
  top: 0% !important;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  z-index: 5;
}

.scrolledDown-mobile {
  top: 0% !important;
  background-color: white !important;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  z-index: 5;
}

.green {
  color: var(--our-green);
}

/* Removing outline of bootstrap 4 form inputs */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0px transparent inset, 0 0 0px transparent;
          box-shadow: 0 0 0px transparent inset, 0 0 0px transparent;
  outline: 0 none;
}

section {
  padding: 50px 0;
}

#desktop_header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

#desktop_header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#desktop_header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#desktop_header .menu .start {
  margin-left: 1.5rem;
}

#desktop_header .menu li {
  display: inline-block;
}

#desktop_header .menu li a {
  color: var(--our-gray);
}

#desktop_header .menu li:not(:first-child) {
  margin-left: 1.5rem;
}

.section-title {
  margin-bottom: 1.5rem;
}

.section-title h2 {
  font-weight: bold;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: linear-gradient(217deg, rgba(74, 222, 181, 0.3), #ffffff 25.6667%);
  position: relative;
}

#hero .container {
  z-index: 2;
  position: relative;
}

#hero .card .hero-title {
  font-weight: bold;
}

#hero .card .start {
  font-weight: bold;
  margin-top: 1.2rem;
}

#hero .bg-img {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
}

#hero .bg-img img {
  width: 100%;
  max-width: 100%;
}

#offers .card {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
}

#offers .card .card-body {
  z-index: 5;
}

#offers .card img {
  margin-bottom: 0.7rem;
}

#offers .card .card-title {
  font-weight: bold;
}

#offers .card .card-text {
  margin: 1rem 0;
}

#offers .card .know-more {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#offers .card .know-more i {
  margin-left: 0.5rem;
}

#offers .card::before {
  content: '';
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background: #70e4c3;
  width: 0%;
  height: 0%;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-clip-path: circle(10%);
          clip-path: circle(10%);
}

#offers .card:hover::before {
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  inset: 0 !important;
}

#offers .card:hover {
  color: #000;
}

#offers .card:hover .know-more {
  color: #000;
}

#products {
  background: var(--our-lightgreen);
  text-align: center;
  position: relative;
  margin-top: 100px;
}

#products #pills-tab {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#products .nav-pills .nav-link.active, #products .nav-pills .show > .nav-link {
  color: var(--our-pink);
  border-bottom: 1px solid var(--our-pink);
}

#products .nav-pills .nav-link {
  border-radius: unset;
  background: unset;
  padding: 0.3rem;
  margin: 0.6rem;
  color: var(--our-darkblue);
  font-weight: bold;
}

#products .nav-pills .nav-link:hover {
  color: var(--our-pink);
  border-bottom: 1px solid var(--our-pink);
}

#products .shop-icon {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#products .shop-icon img {
  max-width: 100%;
  height: auto;
}

#products .tab-content .card {
  text-align: center;
  background: #fff;
  border-radius: 16px;
  min-height: 400px;
  height: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#products .tab-content .card .shortcuts {
  position: absolute;
  top: -30%;
  left: 2%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#products .tab-content .card .shortcuts a {
  width: 35px;
  height: 35px;
  margin: 0 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#products .tab-content .card .shortcuts a.cart-icon:hover {
  background: var(--our-lightgreen);
}

#products .tab-content .card .shortcuts a.heart-icon:hover {
  background: var(--our-lightpink);
}

#products .tab-content .card .shortcuts a.search-icon:hover {
  background: var(--our-lightblue);
}

#products .tab-content .img-container {
  padding: 1rem;
}

#products .tab-content .card-title {
  font-weight: bold;
}

#products .tab-content .card-title a {
  color: #000;
}

#products .tab-content .colors {
  margin: .3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .3rem 0;
}

#products .tab-content .colors .color {
  height: 4px;
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  margin: 0 0.3rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#products .tab-content .colors .color.active-color {
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
}

#products .tab-content .card-body {
  background: rgba(231, 193, 182, 0.1);
  border-radius: 0 0 16px 16px;
  padding: 1rem;
  margin-top: auto;
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#products .tab-content .product-code, #products .tab-content .product-price {
  margin: 0.5rem 0;
}

#products .tab-content .product-code h6, #products .tab-content .product-price h6 {
  color: var(--our-green);
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#products .tab-content .card:hover .card-body {
  background: var(--our-green);
}

#products .tab-content .card:hover .card-body h6 {
  color: #000;
}

#products .tab-content .card:hover .shortcuts {
  top: 5px;
}

#products .go-to-shop {
  text-align: center;
  margin-top: 2rem;
}

#products .go-to-shop button {
  font-weight: bold;
}

#why_us .section-title {
  text-align: center;
}

#why_us .explaining {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#why_us .explaining > .item {
  margin: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#why_us .explaining > .item .explaining-item-img {
  margin-right: 1.5rem;
  background: #F4F5F7;
  padding: 1rem;
  border-radius: 50%;
}

#testimonial {
  margin-top: 150px;
  background: var(--our-lightgreen);
  position: relative;
}

#testimonial .comma-icon {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#testimonial .comma-icon img {
  max-width: 100%;
  height: auto;
}

#testimonial .section-title {
  text-align: center;
  position: relative;
}

#testimonial .section-title .subtitle {
  margin-top: 0.5rem;
}

#testimonial .testimonial-slider-arrows {
  position: relative;
  text-align: right;
  padding: 0 10%;
  display: block;
}

#testimonial .testimonial-slider-arrows i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.7rem;
  cursor: pointer;
}

#testimonial .testimonial-slider-arrows i:hover {
  opacity: 0.7;
}

#testimonial .testimonial-card {
  background: #fff;
  padding: 2.25rem;
  border-radius: 10px;
}

#testimonial .testimonial-card > div {
  margin: 0 1vw;
}

#testimonial .testimonial-card .customer-name {
  font-size: 16px;
  margin-top: .5rem;
  font-weight: bold;
  white-space: nowrap;
}

#testimonial .testimonial-card .customer-job {
  font-weight: lighter;
  font-size: 16px;
  margin-top: .5rem;
  white-space: nowrap;
}

#testimonial .customer-info {
  text-align: center;
}

#testimonial .customer-info img {
  margin: auto;
  max-width: 100%;
  height: auto;
}

#testimonial .owl-carousel .owl-item img {
  width: unset;
}

#testimonial .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 1rem;
}

#testimonial .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#testimonial .owl-theme .owl-dots .owl-dot.active span, #testimonial .owl-theme .owl-dots .owl-dot:hover span {
  width: 25px;
  background: var(--our-green);
  border-radius: 40px;
}

#clients {
  background: var(--our-lightgreen);
  position: relative;
}

#clients .section-title {
  text-align: center;
}

#clients .slider-container {
  position: relative;
  padding: 1.25rem;
  margin-top: 1.5rem;
}

#clients .slider-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 15%;
  background: -webkit-gradient(linear, left top, right top, from(#dbf8f0), color-stop(rgba(219, 248, 240, 0.8)), to(rgba(219, 248, 240, 0.6)));
  background: linear-gradient(to right, #dbf8f0, rgba(219, 248, 240, 0.8), rgba(219, 248, 240, 0.6));
  z-index: 5;
  border-radius: 10px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#clients .slider-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  background: -webkit-gradient(linear, right top, left top, from(#dbf8f0), color-stop(rgba(219, 248, 240, 0.8)), to(rgba(219, 248, 240, 0.6)));
  background: linear-gradient(to left, #dbf8f0, rgba(219, 248, 240, 0.8), rgba(219, 248, 240, 0.6));
  z-index: 5;
  border-radius: 10px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#clients .img-container {
  padding: 0.5rem;
}

#clients .img-container img {
  max-width: 100%;
  width: 100%;
  height: 120px !important;
  height: auto;
  background-color: var(--our-lightgray);
  -webkit-box-shadow: 0px 0px 10px rgba(41, 41, 42, 0.1);
          box-shadow: 0px 0px 10px rgba(41, 41, 42, 0.1);
  border-radius: 10px;
  padding: 1rem;
}

#clients .client-slider-arrows {
  position: relative;
  text-align: right;
  display: block;
  margin-top: 1rem;
}

#clients .client-slider-arrows i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.7rem;
  cursor: pointer;
}

#clients .client-slider-arrows i:hover {
  opacity: 0.7;
}

#clients .owl-theme .owl-nav, #clients .owl-theme .owl-dots {
  display: none !important;
}

#about_us {
  background: url(../img/photo.jpg) no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#about_us::before {
  content: '';
  position: absolute;
  z-index: 5;
}

#about_us .card {
  z-index: 5;
}

#question {
  background: var(--our-green);
}

#footer {
  background: var(--our-footer);
  padding: 150px 0;
  position: relative;
  overflow: hidden;
}

#footer .footer-main-logo {
  position: absolute;
}

#footer .go-up-button {
  position: absolute;
  cursor: pointer;
}

#footer .img-container {
  position: relative;
  bottom: 30px;
}

#footer .footer-items * {
  color: #fff;
}

#footer .footer-items * .new {
  color: var(--our-green) !important;
  margin-left: 0.2rem;
}

#footer .items-title {
  margin-bottom: 2rem;
}

#footer .items li:not(:last-child) {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */